.homepage {
  &-window-wrapper{
    height: calc(100vh - 70px);
    background: $color3; /* fallback for old browsers */
    background-image: url("/onibe-light/images/aqours-bg.jpg");
    background-size: cover;
    background-position: top center;
  }
  &-window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  &-window-inner {
    text-align: center;
    padding: 20px 0;
    @media (max-width: $screen-xs-max) {
      padding: 20px;
    }
  }
  &-feature{
    margin: 0px 0 0 0;
    padding: 100px 0;
    background-image: url("/onibe-light/images/muse-bg.jpg");
    background-size: cover;
    background-position: center;
    @media (min-width: $screen-sm-min) {
      padding: 200px 0;
    }

  }

  &-window-button-container {
    display: flex;
  }

  &-window-button {
    align-self: flex-end;
  }
  &-scroll-down-button{
    align-self: flex-end;
    margin: 0 0 20px 0;
    i {
      color: $white;
      cursor: pointer;
      font-size: 52px;
    }
  }

  &-circle-bg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background: $color3; /* fallback for old browsers */
    //background: -webkit-linear-gradient(to left, $color3, $color4); /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to left, $color3 , $color4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &-circle-description {
    padding: 20px 0;
  }
  &-social-media{
    background: rgba(242, 247, 255, 1);;
  }
}


.holder {
  top: 50%;
  left: 0;
  bottom: auto;
  right: 0;
  margin: 100px 0 0 0;

  h1 {
    font-size: 40px;
    line-height: 40px;
    text-shadow: 2px 2px $color3;
    font-weight: 600;
    color: $white;
    @media (min-width: $screen-sm-min) {
      text-shadow: 4px 4px $color3;
      font-size: 80px;
      line-height: 80px;
    }
  }

  p {
    font-size: 30px;
    color: $white;
  }
}