html {
  position: relative;
  height: 100%;
}

$footer-height: 150px;

body {
  font-family: $font-family-primary;
  color: $gray;
  font-weight: 400;
  min-height: 100%;
  margin: 0 0 $footer-height 0;
}

p {
  color: $color5;
}

h1 {
  font-family: $font-family-secondary;
  color: $color1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-secondary;
  color: $color1;
  font-weight: 400;
}

.navbar-offset {
  margin-top: 70px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.rvoffset  { margin-bottom: 2px; }
.rvoffset1 { margin-bottom: 5px; }
.rvoffset2 { margin-bottom: 10px; }
.rvoffset3 { margin-bottom: 15px; }
.rvoffset4 { margin-bottom: 30px; }
.rvoffset5 { margin-bottom: 40px; }
.rvoffset6 { margin-bottom: 60px; }
.rvoffset7 { margin-bottom: 80px; }
.rvoffset8 { margin-bottom: 100px; }
.rvoffset9 { margin-bottom: 150px; }

// Sticky Footer
#footer {
  position: absolute;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: $footer-height;

  .footer-container-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .footer-container-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
  .footer-body {
    text-align: right;
  }


  .copyright {
    text-align: right;
  }

  .copyright span {
    font-size: 16px;
  }

  .copyright span.separator {
    font-size: 10px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
    display: inline-block;
    margin: 0 10px;
  }

  .copyright a {
    font-family: $font-family-primary;
    text-transform: uppercase;
    text-decoration: none;
  }

  .copyright a:hover {
  }

  hr {
    border: none;
    height: 1px;
    background: $color1;
    width: 169px;
    margin: 8px 0 8px auto;
  }
}

.label {
  font-weight: 400;
  font-size: 14px;
  font-family: $font-family-secondary;
}

// Fix for class "label label-social media"
.label.media {
  margin: 0;
  overflow: inherit;
}

.label-translator {
  background: rgb(136, 227, 250);
};

.label-admin {
  background: rgb(228, 58, 146);
};

.label-typesetter {
  background: rgb(250, 158, 59);
};

.label-timer {
  background: rgb(194, 146, 236)
};

.label-website,
.label-social,
.label-manager {
  background: #737f8d;
};

.label-qc{
  background: rgb(241, 196, 15);
};

.btn-hex {
  -webkit-clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0 50%);
  clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0 50%);
}

.label-hex {
  -webkit-clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0 50%);
  clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0 50%);
  font-weight: 400;
}

.image-hex {
  width: 240px;
  height: 240px;
  background-position: center;
  background-color: $white;
  background-size: 240px, cover;

  @include transitionEaseInOutQuart(all);

  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.image-hex:hover {
  background-size: 270px, cover;
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.wordwrap {
  word-wrap: break-word;
}