.navbar {
    opacity: 0.9;
}

.navbar-toggle {
    background-color: $lighter-black;
}

.navbar-link {
    transition: background-color 0.4s ease;
    a {
        color: $light-grey !important;
    }
}

.navbar-link:hover {
    background-color: $lighter-black;
    a {
        color: $white !important;
    }
}

.nav {
  font-family: $font-family-secondary;
}

.navbar-brand {
  font-family: $font-family-secondary;
  color: $color3;
}

.logoImg{
	height:100%;
}

.logo-padding{
	position: absolute;
	height:70px;
	display: block;
	padding: 18px 0px 18px 20px;
}