// Variables

$white: #f1f1f1;
$light-grey: #F1F1F1;
$lighter-black: #333;

$color1: #00B7FF;
$color2: #FE8800; // http://www.colorhexa.com/9b59b6
$color3: #336699;

// Bootstrap Default
$color4: #f2f7ff;
$color5: #262E29;
$color6: #EEEEEE;
$color7: #f9f9f9;
$color8: #d5dadf;

$gray1: #CCC;

$font-family-primary: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-secondary: 'Dosis', Montserrat, Helvetica, Arial, sans-serif;
