.about {
  background: $lighter-black;
  background-image:  url("/onibe-light/images/aqours-seiyuus.png");
  background-size: cover;
  background-position: top;
  display: flex;
  p {
    color: $white;
  }
  &-cover {
    background: rgba(0,0,0,0.65);
    color: #FFF;
    padding: 120px 0 40px 0;
    line-height: 32px;
  }
  .container {
    align-self: flex-end;
  }
  @media (min-width: $screen-sm-min) {
    height: calc(100vh - 70px);

    &-cover {
      padding: 80px;
      color: #FFF;
      line-height: 42px;
      width: 100%;
      align-self: stretch;
      display: flex;
    }
  }

}
