
.team-member {
  padding: 0 0;
  background: $light-grey;
  &-wrapper {
    background: url('/onibe-light/images/LLSS.jpg');
    background-size: cover;
    background-position: center;
    background-color: $color3;
  }
  &-cover {
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    @media (min-width: $screen-sm-min) {
      height: 300px;
      align-items: center;
    }
  }
  &-image {
    //border-radius: 50%;
    //margin-bottom: 20px;
    width: 120%;
    max-width: 180px;
    height: 100%;
    box-shadow: 0 5px 9px $gray1;
    -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  }

  &-image-container {
    margin: 0 auto;
  }

  &-name {
    text-align: center;
    margin-bottom: 10px;
  }
  &-image-link {
    width: 100%;
  }
  &-profile {
    font-size: 14px;
    text-align: center;
  }
  &-roles {
    text-align: right;
    .label {
      margin: 2px 0;
      text-align: left;
      display: inline-block;

      // Fix to media class in label-social media,, #FIX THIS
      zoom: 0;
      overflow: inherit;
    }
  }

}
